*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
  /* 연한 회색 배경색을 깔아줍니다 */
  background-color: white;
  /* 정렬의 신 소환! 안에 있는 채팅창을 가운데로 모을 거예요 */
  display: flex;
  /* 가로 기준으로 가운데 정렬 */
  justify-content: center;
  /* 세로 기준으로 가운데 정렬 */
  align-items: center;
  /* 화면 높이를 브라우저 화면 꽉 차게(100%) 설정해요 */
  height: 100vh;
}

.skipNav{
  top:auto;
  margin: 0 -1px -1px 0;
}

.skipNav, .skipNav a {
    position: absolute;
    height: 1px;
    width: 1px;
}
#contents, #wrapper {
    position: relative;
}
#wrapper {
    max-width: 492px;
    min-width: 360px;
    min-height: 100%;
    min-height: 100vh;
    padding: 0 16px 200px;
    margin: 0 auto;
}
.header {
    min-width: 328px;
    padding-top: 120px;
    text-align: center;
}
.header .logo a{
    
    display: block;
    width: 120px;
    height: 20px;
    background: url(https://rs.nxfs.nexon.com/nxlogin/images/set_new_logo.svg) no-repeat 0 0;
}



.acchidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
}
.headerMsg {
    display: inline;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    
    min-height: 30px;
    font-size: 13px;
    color: #fff;
    background-color: #17191d;
    z-index: 1000;
}


.header .tab {
  display: block;
    height: 33px;
    margin-top: 30px;
}
.header .tab ul {
    display: inline-block;
}
.header .tab li {
    position: relative;
    float: left;
    display: block;
    
}
.header .tab button {
    background: none;

    display: block;
    width: 105px;
    height: 34px;
    padding-bottom: 1px;
    font-family: NEXON Gothic Bold;
    color: #999;
    text-align: center;
    transition: all .15s linear;
    outline: 0;
}

.header .tab button {
    display: block;
    width: 105px;
    height: 34px;
    border: none;
    padding-bottom: 1px;
    font-family: NEXON Gothic Bold;
    color: white;
    text-align: center;
    border-bottom: 1px solid #e5e8eb;
    transition: all .15s linear;
    outline: 0;
}

.header .tab button {
    
    display: block;
    width: 105px;
    height: 34px;
    padding-bottom: 1px;
    font-family: NEXON Gothic Bold;
    color: #9fa1a7;
    text-align: center;
    border-bottom: 1px solid #e5e8eb;
    transition: all .15s linear;
    outline: 0;
}


#contents, #wrapper {
    position: relative;
}



.otpLogin, .qrLogin {
    padding-top: 40px;
}
b, strong {
    font-weight: 700;
  
}
.captchaMsg, .otpLoginMsg {
    letter-spacing: -.6px;
    text-align: center;
    color: #737881;
}
b, strong {
    font-weight: 700;
}

.loginMsg {
    display: none;
    min-height: 28px;
    padding: 6px 12px;
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: -.6px;
    text-align: center;
    color: #fff;
    background-color: #ff6060;
}
.acchidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
}
.otppass {
    height: 68px;
}
.otppass .otppass1 {
    padding-right: 4px;
}
.otppass div {
    float: left;
    width: 50%;
}
.id input, .otppass input, .pass input {
    width: 100%;
    height: 56px;
    padding: 18px 12px;
    border: 1px solid #e5e8eb;
    background-color: #fff;
    font-size: 16px;
    font-weight: 700;
    outline: 0;
    transition: border-color .15s linear;
}
.otppass .otppass2 {
    padding-left: 4px;
}
.otppass div {
    float: left;
    width: 50%;
}
.id input, .otppass input, .pass input {
    width: 100%;
    height: 56px;
    padding: 18px 12px;
    border: 1px solid #e5e8eb;
    background-color: #fff;
    font-size: 16px;
    font-weight: 700;
    outline: 0;
    transition: border-color .15s linear;
}
.otppass:after {
    content: "";
    clear: both;
}
.inputMsg {
    
    display: none;
    height: 28px;
    margin-top: -6px;
    font-weight: 700;
    letter-spacing: -.6px;
    text-align: left;
    color: #ff6060;
}
.otpLogin .btLogin {
    
    padding-top: 18px;
}
.btLogin button {
    border: none;
    outline: none;
    
    width: 100%;
    height: 60px;
    font-size: 18px;
    font-family: NEXON Gothic Bold;
    color: #fff;
    background-color: #17191d;
    transition: all .15s linear;
}
.optGuide, .qrGuide {
    position: relative;
    padding-top: 20px;
    margin-top: 68px;
    border-top: 1px solid #e5e8eb;
}
.optGuide h3, .qrGuide h3 {
    font-weight: 700;
    letter-spacing: -.6px;
    color: #737881;
}
.optGuide a, .qrGuide a {
    position: absolute;
    top: 20px;
    right: 0;
    letter-spacing: -.6px;
}

.optGuide a, .optGuide button, .qrGuide a, .qrGuide button {
    font-weight: 700;
    color: #9fa1a7;
    transition: all .15s linear;
}
.optGuide ol, .qrGuide ol {
    padding-top: 10px;
}
ol, ul {
    list-style: none;
}
.optGuide li, .qrGuide li {
    line-height: 1.67;
    letter-spacing: -.6px;
    text-align: left;
    color: #9fa1a7;
}
.optGuide li, .qrGuide li {
    line-height: 1.67;
    letter-spacing: -.6px;
    text-align: left;
    color: #9fa1a7;
}
.optGuide li, .qrGuide li {
    line-height: 1.67;
    letter-spacing: -.6px;
    text-align: left;
    color: #9fa1a7;
}


.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    min-width: 328px;
    height: 80px;
    padding: 32px 0 0;
    text-align: center;
}
.footer p {
    font-size: 11px;
    color: #9fa1a7;
}




