@font-face {
    font-family: 'OTEnjoystoriesBA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2") format('woff2'),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff") format('woff'),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf") format('opentype');
}


@keyframes rotate {
    50%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);
    }
}


html,body{
    width: 100%;
    height: 100%;
}


body{
    font-family: 'GmarketSansBold';
    background-color: plum;
    color: whitesmoke;




}


#contents{
    display: flex;
    justify-content: center;
}


.wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}


.title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;


}


.title .clock_img{
    position: relative;
    width: 265px;
    height: 265px;
}


.title_img{
    position: absolute;
    width: 564px;
   
}
.title_img img{
    width: 100%;
    height:auto;


}


.intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}


.intro .intro_saying{
    font-family: 'OTEnjoystoriesBA' ;
    font-size: 36px;
    color: yellow;
    margin-bottom: 50px;
}


.intro .explain{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 80px;
    position: relative;
}


.intro .quotes{
    padding-top: 20px;
}


.intro .explain p{
    position: absolute;
    font-size: 17px;
    line-height: 1.7;
}


.intro .explain span{
  font-family: 'GmarketSansBold';
  font-size: 20px;
}


.inputs{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  margin-bottom: 70px;


}


.inputs div{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}


.inputs input{
  padding: 15px 20px;
  margin: 0 15px;
  border: none;
  border-radius: 20px;
  font-size: 20px;
  font-family: "GmarketSansMedium";
  width: 200px;
}


.inputs input::placeholder{
  color: wheat;
}


button{
  display: flex;
  align-items: center;
   font-family: "GmarketSansMedium";
   font-size: 20px;
   color: blueviolet;
   background-color: goldenrod;
   border: none;
   border-radius: 30px;
   padding: 10px 40px;
   cursor: pointer;
   word-break: keep-all;
}


.start{
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}


.start .btn_wrap{
  position: relative;


}


.start .click_img{
  position: absolute;
  right: -75px;
  bottom: -25px;
}


.result_loading {
    display: none;
    justify-content: center;
    margin-bottom: 80px;
}


.result_loading .img_wrap{
    width: 100px;
    height: 100px;
   
}
.result_loading .img_wrap img {
    width: 100px;
    height: auto;
    animation: rotate 1.1s infinite linear;


}


.result {
    display: none;
    flex-direction: column;
    align-items: center;
    line-height: 1.5;
    margin-bottom: 80px;
}


.result .result_wrap{
    display: flex;
    flex-direction: column;
    align-items: center;


}


.result .result_wrap div{
    display: flex;
    align-items: center;
    font-size: 20px;
}


.result span{
    padding: 0 20px;
    font-family: 'GmarketSansBold';
    font-size: 70px;
}


.buttons{
    display: flex;
    justify-content: center;
    margin-top: 70px;
}


.buttons .share button{
    background-color: aliceblue;
    margin-left: 20px;


}


#modal {
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
}


#modal .modal_wrap {
    
    width: 500px;
    height: 500px;
    position: fixed;    
    top: 20px;          
    left: 50%;         
    transform: translateX(-50%);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
    background-color: whitesmoke;
    border-radius: 45px;
    padding: 40px 0;
    
}


/* 2. 라이캣 이미지 상자 정렬 */
#modal .licat_img {
    margin: 0px 0; /* 위아래 간격 확보 */
    width: auto;
    height: auto;    /* 부모 너비에 맞춤 */
    display: flex;
    justify-content: center;
}




#modal .licat_img img{
    width: 280px;
    mix-blend-mode: multiply;
    display: block;
    margin: 10%;
    
}


#modal .cheer{
    font-family: 'OTEnjoystoriesBA';
    color: purple;
    text-align: center;
}


#modal .cheer h1{
    font-size: 80px;
    margin-bottom: 10px;
}
#modal .cheer h3{
    font-size: 30px;
}




#modal .close_btn{
    box-shadow: 0px 5px 20px 1px rgba(0, 0, 0, 15%);
    margin-bottom: 20px;
}


#modal .btn p{
    color: gray;
    font-size: 14px;
    text-align: center;


}


#copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}


#copyright p{
    font-size: 20px;
    line-height: 1.5;
    padding: 20px 0;
    text-align: center;
}
